.App {
  text-align: center;
}

.App-nav {
  background: steelblue;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.App-nav a {
  color: antiquewhite;
}

a.active-link {
  color: white;
}




